*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.login-background{
    background-image: url('../image/Login\ Page\ Design\ black.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.login-parent-div{
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-div-leftside{
    padding: 7rem 3rem;
    border-radius: 1.5rem;
    background: rgba(128, 128, 128, 0.329);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
}
.login-text{
    color:orangered;
}
.login-text button{
    color:white;
    background-color: orangered;
}
.login-mandatory span{
    color:orangered;
    font-size: 1.3rem;
}
.login-input{
    border: none;
}
.login-input:focus{
    box-shadow:none!important;
}
.submit-button:hover{
    color: white !important;
}