[data-theme="dark"]{
  --first-color: hsl(0, 2%, 16%);
  --first-color-light: white;
  --white-color: #F7F6FB;
  --black-background:rgba(255, 255, 255, 0.466);
  --white-backbround:white;
  }
  
  [data-theme="light"]{
  --body-background:rgb(55 153 155);
  --color:white;
  --icon-color:black;
  }